h1{
  text-align: center;
  font-size: 70px;
  color: #ffffff;  
  font-family: 'Impact', Charcoal, sans-serif;
  font: bold;
  caret-color: transparent;
}

h2{
    font-size: 50px;
    color: #ffffff;
    margin: 5px;
    font-family: 'Impact', Charcoal, sans-serif;
    font: bold;
}

p{
    color: #ffffff;
    /*background: #2b2b2b;*/
    padding: none;
    font-size: 25px;
    font-family: 'Impact', Charcoal, sans-serif;
    font: bold;
    caret-color: transparent;
}

body{
    background-color: #141516;
}

a{
    color: aliceblue;
    text-decoration: none;
}

header{
    background: #1f1f1f;
    padding: 1px;
    text-align: center;
    justify-content: center;
}

nav{
    position: relative;
    background-color: #171717;
    padding: 10px 0;
}

button{
    background-color: #2b2b2b;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.AboutSSN{
    padding: 20px;
   /* background: #171717; */
    width: 70%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 10px; 
}

.text-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: default;
    caret-color: transparent;
}


.SSN_Logo{      
    max-width: 425px;
    height: auto;
    object-fit: contain;
    margin-top: 50px;
}

nav .centerButton{
    display: flex;
    justify-content: center;
    gap: 10px; 
   /*background: blueviolet;*/
    
}

.bottomBar{
    display: flex;
    flex-direction: row;
    background: #171717;
    height: 6r0px;
    font-size: 14px;
}

.icon{
    width: 70px;
    height: 70px;
}
